body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}



h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    
    
}
main > h2 {
    grid-column: 1 / -1;
}

h2 {
	color: navy;
	text-align: left;
    
    
}

article p {
	text-align: justify;
}

.callout {
	color: #eeee;
	background-color: #000080;
    padding: 1rem;
    grid-column: 1/3;
}
h3 {
    margin-bottom: 05rem;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}

.banner {
	border: 1px solid rgb(0 0 0 / 0.2);
	padding: 1rem;
	background-color: rgb(230 243 254 / 1);
	font-weight: 700;
	word-break: break-word;
	text-align: center;
}