@media screen and (min-width: 37.5em) {
    header {
        font-size: 2.5rem;
        margin-right: 0;
        margin-top: 0;
        text-align: right;



    }

    main {
        grid-template-columns: 1fr 1fr;
    }

}

