* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    list-style: none;
    padding: 10px 0;
    gap: 20px;

}

.navigation a {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: red;
}